body {
  font-family: Roboto;
  margin: auto;
  min-height: 100vh;
  box-sizing: border-box;
  max-width: max-content;
}

.grid-container {
  display: flex;
  border-color: green;
  border-style: solid;
  align-content: center;
  justify-items: center;
  width: 760px;
  height: 760px;
  flex-direction: column;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 760px;
  flex: 1;
}

.grid-tile {
  flex: 1;
  border-color: green;
  border-style: solid;
  border-width: 0.5px;
  box-sizing: border-box;
}

.painted {
  background: red;
}

h1 {
  text-align: center;
}

button {
  margin-bottom: 5px;
  font-size: 1.5em;
}
